/* Add CSS Styling */

.class {
    background-color:rgb(206, 105, 124);
    font-family: 'Verdana','DejaVu Sans','sans-serif';
}

#id {
    color: blue;
    font-size: 36px;
}

.class.cooler {
    font-size: 24px;
}

#otherid {
    background-color:lightgreen;
    font-size: 24px;
    font-weight: bold;
}