body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* my solution */

body {
  display: flex;
  flex-direction: column;
}
.header {
  font-weight: 900;
  font-size: 32px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  flex: 1 0 300px;
  padding: 16px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.footer {
  display:flex;
  justify-content: center;
  align-items: center;
}

.cards {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin: 32px;
}

.card {
  width: 300px;
  flex: 0 0 auto;
  padding: 16px;
}